
<html lang="en" dir="ltr">

  <head>
    <title>Basic 90</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/layout.css" type="text/css">
    <link rel="stylesheet" href="../styles/styles.css" type="text/css">
</head>

<div class="wrapper row1">
<header id="header" class="clear">
  <div id="hgroup">
    <h1><a href="/">FitOrganic</a></h1>
    <q1>من المزرعة, إليك</q1>
  </div>
  <nav>
    <div id="content">
      <img src="../images/Logo101.png" class="ribbon" width="200px" height="180px"/>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/orders">Orders</a></li>
      <li><a href="/inventory">Inventory</a></li>
      <li><a href="/prices">Prices</a></li>
      <li class="last"><a href="/404">Text</a></li>
    </ul>
  </nav>
</header>
</div>